.checklist {
    background-color: var(--color-dark);
    color: var(--text-color-light);
    margin: 8px auto;
    width: var(--cl-width);
    border-style: solid;
    border-radius: var(--cl-rounding);
    border-color: var(--cl-border-color);
    border-width: 1px;
    font-size: 14px;
}
.checklist-title {
    padding: 13px 15px;
    border-bottom-style: solid;
    border-color: #363a3c;
    border-width: 1px;
}

.checklist-title p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}