.cl {
    background-color: var(--color-dark);
    color: var(--text-color-light);
    margin: 8px auto;
    width: var(--cl-width);
    border-style: solid;
    border-radius: var(--cl-rounding);
    border-color: var(--cl-border-color);
    border-width: 1px;
    font-size: 14px;
}

.cl-title {
    cursor: pointer;
    display: flex;
    height: 40px;
    border-bottom-style: solid;
    border-color: #363a3c;
    border-width: 1px;
    transition-duration: var(--speed-med);
}

.cl-title p {
    margin: auto 0 auto 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.menu-container {
    height: 20px;
    overflow: hidden;
    width: 20px;
    margin: auto 13px auto 5px;
    object-fit: cover;
    right: 0;
}

.cl-preexisting {
    cursor: pointer;
    display: flex;
    height: 40px;
    transition-duration: var(--speed-fast);
    border-color: var(--color-dark);
    color: var(--color-darker);
}

.cl-preexisting:hover {
    background-color: var(--color-darker);
}

.cl-preexisting img {
    cursor: pointer;
    pointer-events: auto;
    height: var(--checkmark-size);
    width: var(--checkmark-size);
    min-width: var(--checkmark-size);
    margin: auto calc(var(--checkmark-margin-x) + 2px);
    border-radius: 50%;
    overflow: hidden;
    opacity: var(--opacity-inactive);
}