.dropdown-menu {
    position: absolute;
    background-color: rgb(48, 50, 53);
    margin: auto;
    border-radius: 2px;
    left: 0; /* set in js to remove flicker */
    opacity: 0; /* set in js to remove flicker */
    transition: opacity var(--speed-fast);
}

.dropdown-item {
    padding: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--border-color-darker);
    transition-duration: var(--speed-fast);
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: rgb(59, 61, 63);;
}