.listitem {
    background-color: var(--color-darker);
    color: var(--text-color-light);
    pointer-events: none;
    display: flex;
    height: var(--li-height);
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--col-border);
    pointer-events: visible;
    cursor: pointer;
}

.listitem:last-child {
    border-bottom: none;
}

.preexisting {
    height: 10px;
    width: 100%;
    border-style: solid;
    border-radius: var(--cl-rounding);
    border-width: 1px;
    margin-top: 5px;
}

.checkmark {
    float: left;
    cursor: pointer;
    pointer-events: auto;
    height: var(--checkmark-size);
    width: var(--checkmark-size);
    min-width: var(--checkmark-size);
    margin: auto var(--checkmark-margin-x);
    border-radius: var(--checkmark-radius);
}

.stage-0 {
    width: inherit;
    background-color: var(--check-stage-0);;
}

.stage-1 {
    width: inherit;
    background-color: var(--check-stage-1);
}

.stage-2 {
    width: inherit;
    background-color: var(--check-stage-2);
}

.delete-button {
    width: var(--delete-button-width);
    margin: auto var(--delete-button-margin-right) auto auto;
}

.box-text {
    width: 100%;
    max-width: calc(100% - var(--checkmark-size) * 2 - var(--checkmark-margin-x) - var(--delete-button-width) - var(--delete-button-margin-right));
    display: flex;
    background-color: var(--color-darker);
}

.box-text p {
    margin: auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input {
    background-color: var(--color-darker);
    color: var(--text-color-lightest);
    font-family: 'Montserrat';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: calc(100% - 5px);
    height: 25px;
    text-align: left;
    margin-left: -2px;
    outline-style: none;
    border-style: none;
}

.input-container {
    width: 100%;
    height: 100%;
    padding: calc(var(--li-height) / 2 - 14px) 0;
}
