.listitem-typed {
    background-color: var(--color-darker);
    color: var(--text-color-light);
    pointer-events: none;
    display: flex;
    height: var(--li-height);
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--border-color-darker);
    pointer-events: visible;
    cursor: pointer;
    transition-duration: var(--speed-med);
}

.listitem-typed:last-child {
    border-bottom: none;
}

.li-stagedexisting {
    display: flex;
    height: 25px;
    width: 100%;
    align-self: center;
    transition-duration: var(--speed-med);
}

.li-stagedexisting:hover {
    background-color: var(--li-color);
}

.li-preexisting {
    display: flex;
    height: 25px;
    width: 100%;
    align-self: center;
    transition-duration: var(--speed-med);
}

.checkmark {
    cursor: pointer;
    pointer-events: auto;
    height: var(--checkmark-size);
    width: var(--checkmark-size);
    min-width: var(--checkmark-size);
    margin: auto var(--checkmark-margin-x);
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.add-task {
    opacity: var(--opacity-inactive);
}

.stage-0 {
    width: inherit;
    background-color: var(--check-stage-0);
    object-fit: cover;
}

.stage-1 {
    width: inherit;
    background-color: var(--check-stage-1);
    object-fit: cover;
}

.stage-2 {
    width: inherit;
    background-color: var(--check-stage-2);
    object-fit: cover;
}

.delete-button {
    width: var(--delete-button-width);
    height: var(--delete-button-width);
    margin: auto;
    margin-right: var(--delete-button-margin-right);
    margin-left: 5px;
    object-fit: cover;
}

.task-text {
    width: 100%;
    max-width: calc(100% - var(--checkmark-size) * 2 - var(--checkmark-margin-x) - var(--delete-button-width) - var(--delete-button-margin-right));
    display: flex;
    background-color: var(--color-darker);
}

.task-text p {
    margin: auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition-duration: var(--speed-med);
}

.task-input {
    background-color: var(--color-darker);
    color: var(--text-color-lightest);
    font-family: 'Montserrat';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 25px;
    text-align: left;
    outline-style: none;
    border-style: none;
    margin: auto 0;
    margin-left: -2px;
    transition-duration: var(--speed-med);
}

.fade-out {
    opacity: 0;
    transition-duration: var(--speed-slow);
}

.fade-in {
    opacity: 1;
    transition-duration: var(--speed-slow);
}