.navbar {
    height: 50px;
    background-color: #4285F4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-list-item {
    margin: 1px 20px 0 0;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: inherit;
}

.nav-text {
    margin-bottom: 4px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
