:root {
    --checkbox-size: 40px;
    --li-rounding: 3px;
    --li-width: 300px;
    --col-ghosted: rgba(245, 245, 245, 0.2);
}

.listitem {
    margin: auto;
    padding: 5px;
    height: var(--checkbox-size);
    width: var(--li-width);
    max-width: 500px;
    display: flex;
    filter: drop-shadow(1px 1px 5px #00000010);
}

.box_check {
    height: 100%;
    width: var(--checkbox-size);
    min-width: var(--checkbox-size);
    border-radius: var(--li-rounding) 0 0 var(--li-rounding);
}

.checked {
    background-color: #44ca66;
}

.unchecked {
    background-color: #F4B400;
}

.preexisting {
    height: auto;
    width: 100%;
    border-radius: var(--li-rounding);
    background-color: var(--col-ghosted);
    border-color: var(--col-ghosted);
    border-width: 1px;
    border-style: solid;
}

.box_text {
    height: auto;
    width: 100%;
    border-radius: 0 var(--li-rounding) var(--li-rounding) 0;
}

.typing {
    background-color: whitesmoke;
}

.typed {
    background-color: #f3f3f3;
}

.iteminput {
    background-color: white;
    width: calc(100% - 22px);
    text-align: left;
    font-size:medium;
    padding: 5px;
    outline-color: silver;
    border-width: 0px;
}

.itemtext {
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    padding: 0 12px 0 12px;
}

.textform {
    -ms-transform: translateY(22%);
    transform: translateY(22%);
    text-align: center;
}