.login-page {
    height: calc(100vh - var(--navbar-height) - 1px);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.login-container {
    margin-top: 8px;
}

.login-button {
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    background-color: var(--color-darker);
    border-style: solid;
    border-color: var(--border-color-dark);
    border-width: 1px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 3px 40px;
    white-space: nowrap;
    transition-duration: 0.1s;
}

.login-button:hover {
    background-color: var(--color-dark);
}

.login-button-elem {
    font-size: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}