@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url('./fonts/Montserrat.ttf') format('truetype');
}

:root {
    height: 100vh;
    --bg-color: #1d1e20;

    --color-dark: #1a1c1e;
    --color-darker: #151719;

    --border-color-dark: #3f4447;
    --border-color-darker: #363a3c;

    --text-color-light: #d2cdc5;
    --text-color-lighter: #e2dfd9;
    --text-color-lightest: #f8f6f2;
    
    --navbar-height: 55px;

    --cl-color: #1b1d20;
    --cl-rounding: 3px;
    --cl-rounding: 3px;
    --cl-border-color: #25282a;
    
    --li-color: #161718;
    --li-height: 50px;
    --li-pre-height: 25px;

    --checkmark-size: 20px;
    --checkmark-radius: 10px;
    --checkmark-margin-x: 15px;

    --delete-button-width: 18px;
    --delete-button-margin-right: 10px;

    --speed-fast: 0.1s;
    --speed-med: 0.2s;
    --speed-slow: 0.4s;

    --opacity-inactive: 0.3;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

.page {
    height: calc(100vh - var(--navbar-height) - 1px);
}

.shadow {
    -webkit-box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.75); 
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.75);
}
